@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.headernav {
  height: 70px;
  border-bottom: 1px solid #c9cccd;

  .search {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    margin-top: 16px;
    height: 38px;

    input {
      border: none;
      box-shadow: none;
      background-color: #f3f5f9;
      color: #363838;
      font-size: 14px;
      padding: 8px 19px;
      height: 38px;
    }

    button {
      border: solid 1px #697683;
      box-shadow: none;
      background-color: #697683;
      color: #ffffff;
      font-size: 18px;
    }

    .wrap {
      background-color: #f3f5f9;
      border-radius: 3px;
    }

    .txt {
      width: 85%;
    }
  }
}


.avt {
  margin-top: 16px;
  height: 38px;

  button {
    height: 38px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1abc9c;
  }

  .env {
    font-size: 18px;
    color: #cfd5d7;
    line-height: 38px;
    padding: 0 20px;
  }


}

.avatar {
  position: relative;
  width: 37px;
  margin-left: 5px;

  .green {
    background-color: #80d3ab;
  }

  .status {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: solid 2px #ffffff;
  }

  img {
    @include border-radius(50%);
  }
}

.post {
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;

  .wrapUT {
    width: 85%;
  }

  .userinfo {
    width: 15%;
    padding: 20px 0 15px 15px;
  }

  .icons {
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
  }

  .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 25px;
  }

  h2 {
    color: #363838;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .postinfo {
    width: 15%;
  }

  .comments {
    padding: 18px 0 25px 0;
    text-align: center;

    .commentbg {
      background-color: #bdc3c7;
      display: inline-block;
      padding: 12px 17px;
      color: #ffffff;
      font-size: 14px;
      font-family: 'Open Sans Bold', sans-serif;
      position: relative;

      .mark {
        width: 11px;
        height: 11px;
        background-color: #bdc3c7;
        position: absolute;
        bottom: 0;
        left: 43%;
        margin-bottom: -5px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }

  .views {
    color: #9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;

    i {
      font-size: 14px;
    }
  }

  .time {
    color: #9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
  }
}

.sidebar {
  .sidebarblock {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;

    h3 {
      color: #363838;
      font-size: 14px;
      font-family: 'Open Sans Bold', sans-serif;
      margin: 0;
      padding: 20px;
    }
  }
  .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
  }

  .blocktxt {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    padding: 20px;

    .cats {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        line-height: 30px;

        a {
          font-size: 14px;
          font-family: 'Open Sans Light', sans-serif;
          line-height: 30px;
        }
      }
    }

  }
}