.sidebar {
  .sidebarblock {
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;

    h3 {
      color: #363838;
      font-size: 14px;
      font-family: 'Open Sans Bold', sans-serif;
      margin: 0;
      padding: 20px;
    }
  }
  .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
  }

  .blocktxt {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    padding: 20px;

    .cats {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        line-height: 30px;

        a {
          font-size: 14px;
          font-family: 'Open Sans Light', sans-serif;
          line-height: 30px;
        }
      }
    }

  }
}