$header-height: 120px;
$header-bg-color: #23222d;
$header-text-color: #fff;

h1 {
  font-size: 42px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #2d2d2d url('./logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }

  .headerBar {
    min-height: $header-height;
    background-color: $header-bg-color;
    color: $header-text-color !important;
    padding-bottom: 10px;

    .cityHeader {
      text-align: center;

      h1 {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
