<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-6 vertical-center wow fadeInLeft animated" data-wow-duration="1s"
           data-wow-offset="150" data-wow-delay="1s"
           style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: fadeInLeft;">
        <div class="intro">
          <h2>What we do for you</h2>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          <hr class="hidden-md hidden-lg">
        </div>
        <ul class="buttons-tab">
          <li class="active">
            <a href="#one">Option One</a>
          </li>
          <li>
            <a href="#two">Option Two</a>
          </li>
          <li>
            <a class="btn-last-tab" href="#three">Option Three</a>
          </li>
        </ul>
        <div class="tab-content owl-carousel owl-theme owl-loaded owl-text-select-on owl-responsive-992" id="tab">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1662px;">
              <div class="owl-item active" style="width: 554px; margin-right: 0px;">
                <div class="item tab-pane active" data-hash="one">
                  <div class="text-icon-left">
                    <span class="iconCircle icon-cloud-upload"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-location"></span>
                    <div class="text">
                      <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium
                        sic ad nauseum</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-speech-bubble"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 554px; margin-right: 0px;">
                <div class="item tab-pane" data-hash="two">
                  <div class="text-icon-left">
                    <span class="iconCircle icon-bar-graph"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-lock"></span>
                    <div class="text">
                      <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium
                        sic ad nauseum</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-link"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 554px; margin-right: 0px;">
                <div class="item tab-pane" data-hash="three">
                  <div class="text-icon-left">
                    <span class="iconCircle icon-clock-o"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-comment"></span>
                    <div class="text">
                      <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium
                        sic ad nauseum</p>
                    </div>
                  </div>
                  <div class="text-icon-left">
                    <span class="iconCircle icon-youtube"></span>
                    <div class="text">
                      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="display: none;">prev</div>
              <div class="owl-next" style="display: none;">next</div>
            </div>
            <div class="owl-dots" style="display: none;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-pull-6 vertical-center phones">
        <img src="/landing/images/about-phone-back.png" alt="img"
             class="phone-back wow fadeInRight animated" data-wow-duration="0.5s" data-wow-offset="150"
             data-wow-delay="0.3s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInRight;">
        <div class="shadow-left wow fadeInRight animated" data-wow-duration="0.5s" data-wow-offset="200"
             data-wow-delay="0.6s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInRight;">
        </div>
        <img src="/landing/images/about-phone-front.png" alt="img"
             class="phone-front wow fadeInRight animated" data-wow-duration="0.5s" data-wow-offset="150"
             data-wow-delay="0.6s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInRight;">
      </div>
    </div>
  </div>
</section>