<section id="benefits" class="color-b">
  <div class="container">
    <div class="row">
      <div class="col-md-6 vertical-center wow fadeInRight animated" data-wow-duration="1s" data-wow-offset="150"
           data-wow-delay="1.1s"
           style="visibility: visible; animation-duration: 1s; animation-delay: 1.1s; animation-name: fadeInRight;">
        <div class="intro">
          <h2>Awasome accordion</h2>
          <p class="p-border-left">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim.</p>
        </div>
        <ul class="responsive-accordion responsive-accordion-default bm-larger">
          <li>
            <div class="responsive-accordion-head">
              The best responsive Accordion
              <i class="icon-chevron-down responsive-accordion-plus"></i>
              <i class="icon-chevron-up responsive-accordion-minus" style="display: none;"></i>
            </div>
            <div class="responsive-accordion-panel" style="display: none;">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac fringilla nulla, sit amet
                consequat eros. Pellentesque pharetra blandit commodo.</p>
            </div>
          </li>
          <li>
            <div class="responsive-accordion-head">
              The second tab without icon background
              <i class="icon-chevron-down responsive-accordion-plus"></i>
              <i class="icon-chevron-up responsive-accordion-minus" style="display: none;"></i>
            </div>
            <div class="responsive-accordion-panel" style="display: none;">
              <p>Cras sagittis neque id tortor dictum tincidunt. Nulla volutpat cursus metus, sed pulvinar nibh
                vulputate a. Curabitur tristique pharetra elit quis tincidunt.</p>
            </div>
          </li>
          <li class="active">
            <div class="responsive-accordion-head active">
              The section three with an icon background
              <i class="icon-chevron-down responsive-accordion-plus" style="display: none;"></i>
              <i class="icon-chevron-up responsive-accordion-minus" style="display: block;"></i>
            </div>
            <div class="responsive-accordion-panel active" style="display: block;">
              <p>Mauris vel placerat dolor. Morbi mattis venenatis feugiat. Vivamus nunc diam, luctus id ipsum ut,
                tempor pharetra augue. Ut sagittis orci at posuere venenatis.</p>
              <i class="info-bg icon-info-circle"></i>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 vertical-center phones">
        <img src="/landing/images/benefits-phone-back.png" alt="img"
             class="phone-back wow fadeInLeft animated" data-wow-duration="0.5s" data-wow-offset="150"
             data-wow-delay="0.3s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInLeft;">
        <div class="shadow-right wow fadeInLeft animated" data-wow-duration="0.5s" data-wow-offset="200"
             data-wow-delay="0.6s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInLeft;"></div>
        <img src="/landing/images/benefits-phone-front.png" alt="img"
             class="phone-front wow fadeInLeft animated" data-wow-duration="0.5s" data-wow-offset="150"
             data-wow-delay="0.6s"
             style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInLeft;">
      </div>
    </div>
  </div>
</section>