<div class="modal fade in" id="contact" tabindex="-1" role="dialog" aria-hidden="false">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
  <div class="modal-dialog">
    <div class="modal-content">
      <h3 class="modal-title">Contact us</h3>
      <form role="form" id="contact_form" novalidate="novalidate">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Full name" name="name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email Address" name="email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Your message or question" id="message"
                    name="message"></textarea>
        </div>
        <div class="contact-box">
          <button type="submit" id="submit" name="submit" data-loading-text="•••"
                  class="btn btn-theme btn-line pulse-hover">Send
          </button>
          <p class="success">Your message has been sent successfully.</p>
        </div>
      </form>
    </div>
  </div>
</div>