<section id="download">
  <div class="image-overlay">
    <div class="container">
      <div class="intro wow fadeInDown animated" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="0.3s"
           style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
        <h2>Download xmobile app</h2>
        <a class="btn btn-theme pulse-hover" href="#"><i
            class="icon-apple"></i>App store</a>
        <a class="btn btn-theme pulse-hover" href="#"><i
            class="icon-android"></i>Play store</a>
        <a class="btn btn-theme pulse-hover" href="#"><i
            class="icon-windows"></i>Windows store</a>
      </div>
    </div>
  </div>
</section>