<section id="facts">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-3 vertical-center wow fadeInLeft animated" data-wow-duration="1s"
           data-wow-offset="150" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
        <h2>Our facts</h2>
        <hr class="hidden-md hidden-lg">
      </div>

      <div class="col-sm-12 col-md-9 vertical-center">
        <div class="col-xs-12 col-sm-4 text-icon-left wow fadeInRight animated" data-wow-duration="1s"
             data-wow-offset="150" data-wow-delay="0.3s"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
          <i class="icon-tasks"></i>
          <div class="text">
            <h4>9 0245 671</h4>
            <p>lines of RoR code</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-icon-left wow fadeInRight animated" data-wow-duration="1s"
             data-wow-offset="150" data-wow-delay="0.6s"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInRight;">
          <i class="icon-glass"></i>
          <div class="text">
            <h4>1 023 000</h4>
            <p>amazing sodas</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 text-icon-left wow fadeInRight animated" data-wow-duration="1s"
             data-wow-offset="150" data-wow-delay="0.9s"
             style="visibility: visible; animation-duration: 1s; animation-delay: 0.9s; animation-name: fadeInRight;">
          <i class="icon-headphones"></i>
          <div class="text">
            <h4>8 243 044</h4>
            <p>songs listened</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>