<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 wow fadeInRight animated">
        <div class="block text-icon-left">
          <i class="iconCircle icon-home"></i>
          <div class="text">
            <h3>Local by default</h3>
            <p>Focus locally and then branch out.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-grid"></i>
        <div class="text">
            <h3>Help others</h3>
            <p>Use our platform to help other business owners and establish your company as the expert in the field.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-push-1 wow fadeInLeft animated">
        <div class="block text-icon-left">
          <i class="iconCircle icon-toggle"></i>
          <div class="text">
            <h3>Common services reduce cost</h3>
            <p>Common service such as shipping when used collectively helps reduce your business spend.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-loader"></i>
          <div class="text">
            <h3>Offer your services</h3>
            <p>Offer your services to other companies.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>