<section id="features">
  <div class="container">
    <div class="row">
      <div class="intro wow fadeInDown animated">
        <h2>Connect on the go!</h2>
        <p>Using either our IOS or Android apps you can stay connected to your city on the go!</p>
      </div>
      <div class="col-md-4 wow fadeInRight animated">
        <div class="block text-icon-right">
          <div class="text">
            <h3>Eight colors</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
          <i class="iconCircle icon-globe"></i>
        </div>
        <div class="block text-icon-right">
          <div class="text">
            <h3>Three intro styles</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
          <i class="iconCircle icon-grid"></i>
        </div>
        <div class="block text-icon-right">
          <div class="text">
            <h3>Latest tweets</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
          <i class="iconCircle icon-esc"></i>
        </div>
      </div>
      <div class="col-md-4 col-md-push-4 wow fadeInLeft animated">
        <div class="block text-icon-left">
          <i class="iconCircle icon-toggle"></i>
          <div class="text">
            <h3>HTML5 and CSS3</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-loader"></i>
          <div class="text">
            <h3>+500 icons</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-minimize"></i>
          <div class="text">
            <h3>Full responsive</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-md-pull-4 phones wow fadeInUp animated">
        <img src="/landing/images/features-phone.png" alt="img">
      </div>
    </div>
  </div>
</section>