<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 wow fadeInRight animated">
        <div class="block text-icon-left">
          <i class="iconCircle icon-globe"></i>
          <div class="text">
            <h3>Local</h3>
            <p>Reach an audience in your geographic area.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-grid"></i>
        <div class="text">
            <h3>Company pages</h3>
            <p>Build a company page to establish your online presence. Technical experience not required.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-push-1 wow fadeInLeft animated">
        <div class="block text-icon-left">
          <i class="iconCircle icon-toggle"></i>
          <div class="text">
            <h3>Mobile</h3>
            <p>Connect with your customers on the go.</p>
          </div>
        </div>
        <div class="block text-icon-left">
          <i class="iconCircle icon-loader"></i>
          <div class="text">
            <h3>Top-notch support</h3>
            <p>We will always be there for you.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>