<footer>
  <div class="container">
    <div class="logo localScroll-slow pulse-hover">
      <a href="#home">
        <img src="/landing/images/logo-dark.png" alt="">
      </a>
    </div>
    <div class="copyright">
      <span>COPYRIGHT © <%= new Date().getFullYear() %>  <%=  websiteName %></span>
    </div>
  </div>
</footer>