<header id="home">
  <div class="header-phones-version image-overlay">
    <div class="container">
      <div class="col-xs-12 intro animated fadeInDown">
        <div class="welcome-message">
          <img src="/landing/images/logo-light.png" alt="" class="logo">
          <h1>Here is the best way to present your beautiful mobiles apps</h1>
          <h5>Available on App Store, Play Store and Window store</h5>
        </div>
        <div class="showHere localScroll">
          <a class="btn btn-theme pulse-hover" href="#services">Learn
            more</a>
          <a class="btn btn-theme btn-opacity pulse-hover"
             href="#download">Download</a>
        </div>
      </div>
      <div class="col-xs-12 header-phones">
        <img src="/landing/images/header-phone-left.png"
             class="phone-left animated fadeInRight" alt="img">
        <div class="shadow-left animated fadeInRight"></div>
        <img src="/landing/images/header-phone-center.png"
             class="phone-center animated fadeInUp" alt="img">
        <div class="shadow-right animated fadeInLeft"></div>
        <img src="/landing/images/header-phone-right.png"
             class="phone-right animated fadeInLeft" alt="img">
      </div>
    </div>
    <ul class="responsive-button">
      <li data-toggle="modal" data-target="#contact">
        <span class="visible-lg">contact</span>
      </li>
      <li id="fullscreen-menu-header">
        <a class="cd-primary-nav-trigger" href="#0">
          <span class="visible-lg menu">menu</span>
          <i class="icon-align-justify"></i>
        </a>
      </li>
    </ul>
  </div>
</header>