<header id="home">
  <div class="image-overlay">
    <div class="container">
      <div class="col-xs-12 intro animated fadeInDown">
        <div class="welcome-message">
          <img src="/landing/images/logo-light.png" alt="" class="logo">
          <h4><%= tagLine %></h4>
          <div class="subscribe">
            <div>Coming soon!</div>
            <form id="subscription" target="_blank" role="form" novalidate="true">
              <input id="mc-email" type="email" placeholder="Enter your email address" name="EMAIL">
              <button type="submit"><span class="icon icon-location"></span></button>
            </form>
            <div class="followUs">
              <span>Follow us: </span>
              <ul class="social">
                <li><a target="_blank" href="https://twitter.com/<%= websiteName.toLowerCase() %>"><i class="icon-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.facebook.com/<%= websiteName.toLowerCase() %>"><i class="icon-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>