<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="<%= tagLine %>"/>
<meta name="author" content="Jahmai OSullivan <jahmai.osullivan@gmail.com>"/>
<meta name="keywords" content="<%= keywords %>"/>

<title><%= websiteName %></title>

<link rel="stylesheet" href="/landing/styles/bootstrap.min.css" />
<link rel="stylesheet" href="/landing/styles/main.css" />
<link rel="stylesheet" href="/landing/styles/responsive.css" />
<link rel="stylesheet" href="/landing/styles/owl.carousel.css" />
<link rel="stylesheet" href="/landing/styles/owl.transitions.css" />
<link rel="stylesheet" href="/landing/styles/nivo-lightbox.css" />
<link rel="stylesheet" href="/landing/styles/nivo-theme.css" />
<link rel="stylesheet" href="/landing/styles/animate.css" />
<link rel="stylesheet" href="/landing/styles/icomoon.css" />
<link rel="stylesheet" href="/landing/styles/light.css" />
<link rel="stylesheet" href="/landing/styles/red.css" />
<link rel="stylesheet" href="/landing/styles/css" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
