<!DOCTYPE html>
<html>
<head>
  <% include ./head %>
</head>
<body>
<div class="global-wrap">
  <% include ./topNav %>
  <% include ./header %>
  <% include ./services %>
  <% include ./about %>
  <% include ./benefits %>
  <% include ./screenshot %>
  <% include ./features %>
  <% include ./facts %>
  <% include ./pricing %>
  <% include ./news %>
  <% include ./testimonial %>
  <% include ./download %>
  <% include ./footer %>
</div>
<% include ./contactmodal %>
<% include ./scripts %>
</body>
</html>