<section id="news">
  <div class="intro wow fadeInDown animated" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="0.3s"
       style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
    <h2>Check out our latest Twitter Posts</h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
  </div>
  <div id="twits">
    <ul>
      <li>
        <div class="wow fadeInUpBig animated" style="visibility: visible; animation-name: fadeInUpBig;">
          <div class="container"><h3 class="pulse-hover">Need new Bootstrap Themes? Check out Baamapp - Multi-Purpose
              Landing Page by inssitu on <a href="http://twitter.com/CreativeMarket" target="_blank"
                                            title="CreativeMarket on Twitter">@CreativeMarket</a> <a
                href="http://t.co/Jtu01628sn" target="_blank" title="Visit this link">http://t.co/Jtu01628sn</a></h3>
            <div class="info"><!-- ***TWITTER ACCOUNT*** -->
              <div class="author"><span class="icon icon-bullhorn"></span><a href="http://twitter.com/inssituLive"
                                                                             target="_blank"
                                                                             title="inssituLive on Twitter">@inssituLive</a>
              </div><!-- ***AUTHOR*** -->
              <div class="author hidden-xs"><span class="icon icon-head"></span>inssitu.com</div><!-- ***DATE*** -->
              <div class="date"><span class="icon icon-calendar"></span>Jan. 31, 2015</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="wow fadeInUpBig animated" style="visibility: visible; animation-name: fadeInUpBig;">
          <div class="container"><h3 class="pulse-hover">'Simplicity means the achievement of maximum effect with
              minimum means' - Dr. Koichi Kawana <a href="http://t.co/WVukxSMysY" target="_blank"
                                                    title="Visit this link">http://t.co/WVukxSMysY</a></h3>
            <div class="info"><!-- ***TWITTER ACCOUNT*** -->
              <div class="author"><span class="icon icon-bullhorn"></span><a href="http://twitter.com/inssituLive"
                                                                             target="_blank"
                                                                             title="inssituLive on Twitter">@inssituLive</a>
              </div><!-- ***AUTHOR*** -->
              <div class="author hidden-xs"><span class="icon icon-head"></span>inssitu.com</div><!-- ***DATE*** -->
              <div class="date"><span class="icon icon-calendar"></span>Nov. 7, 2014</div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="wow fadeInUpBig animated" style="visibility: visible; animation-name: fadeInUpBig;">
          <div class="container"><h3 class="pulse-hover">Check out the new version of our great <a
                href="http://twitter.com/search?q=%23themeforest&src=hash" target="_blank"
                title="Search for #themeforest">#themeforest</a> template 'xMobile app Landing Page' <a
                href="http://t.co/J4zIRzK5nY" target="_blank" title="Visit this link">http://t.co/J4zIRzK5nY</a></h3>
            <div class="info"><!-- ***TWITTER ACCOUNT*** -->
              <div class="author"><span class="icon icon-bullhorn"></span><a href="http://twitter.com/inssituLive"
                                                                             target="_blank"
                                                                             title="inssituLive on Twitter">@inssituLive</a>
              </div><!-- ***AUTHOR*** -->
              <div class="author hidden-xs"><span class="icon icon-head"></span>inssitu.com</div><!-- ***DATE*** -->
              <div class="date"><span class="icon icon-calendar"></span>Nov. 7, 2014</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container wow fadeInUpBig animated" style="visibility: visible; animation-name: fadeInUpBig;">
    <a href="https://twitter.com/inssituLive" class="btn btn-theme btn-line pulse-hover" target="_blank">Show more</a>
  </div>
</section>