<div id="newsletter">
  <div class="image-overlay">
    <div class="container">
      <article>
        <h4>Subscribe to our newsletter</h4>
        <div class="messages">
          <p class="subscription-success"></p>
          <p class="subscription-failed"></p>
          <p class="spam">No spam promise - only our latest news and freebies!</p>
        </div>
      </article>

      <form id="subscription" target="_blank" role="form" novalidate="true">
        <input id="mc-email" type="email" placeholder="your email address" name="EMAIL">
        <button type="submit"><span class="icon icon-location"></span></button>
      </form>
    </div>
  </div>
</div>