<section class="color-b" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 intro wow fadeInDown animated" data-wow-duration="1s" data-wow-offset="200"
           data-wow-delay="0.3s"
           style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
        <h2>Great prices</h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
    </div>
    <div class="row wow fadeInUp animated" data-wow-duration="1s" data-wow-offset="300" data-wow-delay="0.6s"
         style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
      <div class="col-sm-4">
        <div class="price-table normal">

          <h3 class="package">STARTED</h3>

          <div class="price">
            <span class="dollar">$</span>
            <span class="amount">9.99</span>
          </div>

          <ul class="specifications">
            <li><span class="icon pe-7s-check"></span><span class="bold">12 months </span>support</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">25 HTML </span>template</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">10 PSD </span>template</li>
          </ul>

          <a href="#" class="btn btn-theme btn-line pulse-hover">Buy
            now</a>

        </div>
      </div>

      <div class="col-sm-4">
        <div class="price-table popular">

          <h3 class="package">PREMIUM</h3>
          <div class="price">
            <span class="dollar">$</span>
            <span class="amount">25.99</span>
          </div>
          <ul class="specifications">
            <li><span class="icon pe-7s-check"></span><span class="bold">12 months </span>support</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">25 HTML </span>template</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">10 PSD </span>template</li>
          </ul>
          <a href="#" class="btn btn-theme btn-line pulse-hover">Buy
            <span class="hidden-xs hidden-sm"> the most popular</span>
            <span class="hidden-md hidden-lg"> now</span>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="price-table normal">
          <h3 class="package">ENTERPRISE</h3>
          <div class="price">
            <span class="dollar">$</span>
            <span class="amount">99.99</span>
          </div>
          <ul class="specifications">
            <li><span class="icon pe-7s-check"></span><span class="bold">12 months </span>support</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">25 HTML </span>template</li>
            <li><span class="icon pe-7s-check"></span><span class="bold">10 PSD </span>template</li>
          </ul>
          <a href="#" class="btn btn-theme btn-line pulse-hover">Buy
            now</a>
        </div>
      </div>
    </div>
  </div>
</section>