<section id="screenshot">
  <div class="intro wow fadeInDown animated" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="0.3s"
       style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
    <h2>Show your awasome screenshots</h2>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
  </div>
  <div id="screenshots"
       class="wow fadeInUp owl-carousel owl-theme owl-center owl-loaded owl-text-select-on animated owl-responsive-800"
       data-wow-duration="1s" data-wow-offset="300" data-wow-delay="0.6s"
       style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="transition: 0s; width: 6012px; transform: translate3d(-939.375px, 0px, 0px);">
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/5.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/6.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/7.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned active" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/8.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item active center" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/1.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/1.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item active" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/2.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/2.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item active" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/3.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/3.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/4.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/4.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/5.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/6.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/7.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="http://inssitu.com/demo/xmobile/assets/images/screenshots/8.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/5.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/1.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/1.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/2.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/2.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/3.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/3.jpg" alt="Screenshot"></a>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 275.75px; margin-right: 100px;">
          <div class="shot">
            <a href="/landing/4.jpg"
               data-lightbox-gallery="screenshots-gallery" title="This is an image title"><img
                src="/landing/images/4.jpg" alt="Screenshot"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-controls">
      <div class="owl-nav">
        <div class="owl-prev" style="">prev</div>
        <div class="owl-next" style="">next</div>
      </div>
      <div class="owl-dots" style="display: none;"></div>
    </div>
  </div>

</section>