<section id="services" class="color-b">
  <div class="container">
    <div class="row wow fadeInUp animated" data-wow-duration="1s" data-wow-offset="300" data-wow-delay="0.6s">
      <div class="col-md-4">
        <span class="icon icon-cloud-download"></span>
        <h3>Showcase</h3>
        <p>Showcase your products</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-power"></span>
        <h3>Connect</h3>
        <p>Connect with both your potential customers and other business owners</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-signal"></span>
        <h3>Local</h3>
        <p>Promote your products to a local audience</p>
      </div>
    </div>
  </div>
</section>