<section id="services" class="color-b">
  <div class="container">
    <div class="row">
      <div class="intro wow fadeInDown animated" data-wow-duration="1s" data-wow-offset="200" data-wow-delay="0.3s"
           style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
        <h2>Great way to describe your app</h2>
        <p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad
          nauseum</p>
      </div>
    </div>
    <div class="row wow fadeInUp animated" data-wow-duration="1s" data-wow-offset="300" data-wow-delay="0.6s"
         style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
      <div class="col-md-4">
        <span class="icon icon-cloud-download"></span>
        <h3>Many updates</h3>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam aliquid</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-power"></span>
        <h3>Cross browser</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-signal"></span>
        <h3>Cool animations</h3>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam aliquid</p>
      </div>
    </div>
  </div>
</section>