<section id="services" class="color-b">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="icon icon-group"></span>
        <h3>Connect</h3>
        <p>Connect with other business owners</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-share"></span>
        <h3>Share</h3>
        <p>Share ideas and tips to help run your business better</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-wrench"></span>
        <h3>Tools</h3>
        <p>Explore our library of tools to help accelerate your business</p>
      </div>
    </div>
  </div>
</section>