<section id="services" class="color-b">
  <div class="container">
    <div class="row wow fadeInUp animated" data-wow-duration="1s" data-wow-offset="300" data-wow-delay="0.6s">
      <div class="col-md-4">
        <span class="icon icon-cloud-download"></span>
        <h3>Connect</h3>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam aliquid</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-power"></span>
        <h3>Showcase</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-signal"></span>
        <h3>Discuss</h3>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam aliquid</p>
      </div>
    </div>
  </div>
</section>