<section id="services" class="color-b">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="icon icon-group"></span>
        <h3>Attract Top Talent</h3>
        <p>Show off your business and attract great talent</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-share"></span>
        <h3>Connect</h3>
        <p>Connect with other business owners to share ideas and tips to help your business</p>
      </div>
      <div class="col-md-4">
        <span class="icon icon-wrench"></span>
        <h3>Access Tools and Resources</h3>
        <p>Access to our huge library of technical resources including websites and social media page designs for your business</p>
      </div>
    </div>
  </div>
</section>