<section class="color-b" id="testimonial">
  <div class="container">
    <div class="wow fadeInUp animated" data-wow-duration="1s" data-wow-offset="150" data-wow-delay="0.6s"
         style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
      <i class="icon-quote-left hidden-xs"></i>
      <i class="icon-quote-right hidden-xs"></i>
    </div>
    <blockquote id="testimonials"
                class="wow fadeInUp owl-carousel owl-theme owl-responsive--1 owl-loaded owl-text-select-on animated"
                data-wow-duration="1s" data-wow-offset="150" data-wow-delay="0.6s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-4560px, 0px, 0px); transition: 0s; width: 7980px;">
          <div class="owl-item cloned" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>Absolutely amazing. It is the best...</p>
              <cite title="Quote Author">Mark Battie</cite>
              <span class="position">SEO Expert</span>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>It’s from Xmobile, They’ are good...</p>
              <cite title="Quote Author">Lisa Brennan</cite>
              <span class="position">CEO of Redhillton</span>
            </div>
          </div>
          <div class="owl-item" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>...the best iOS app. Awasome technologies...</p>
              <cite title="Quote Author">Paula Hamilton</cite>
              <span class="position">Designer</span>
            </div>
          </div>
          <div class="owl-item" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>Absolutely amazing. It is the best...</p>
              <cite title="Quote Author">Mark Battie</cite>
              <span class="position">SEO Expert</span>
            </div>
          </div>
          <div class="owl-item active" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>It’s from Xmobile, They’ are good...</p>
              <cite title="Quote Author">Lisa Brennan</cite>
              <span class="position">CEO of Redhillton</span>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>...the best iOS app. Awasome technologies...</p>
              <cite title="Quote Author">Paula Hamilton</cite>
              <span class="position">Designer</span>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 1140px; margin-right: 0px;">
            <div>
              <p>Absolutely amazing. It is the best...</p>
              <cite title="Quote Author">Mark Battie</cite>
              <span class="position">SEO Expert</span>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none;">prev</div>
          <div class="owl-next" style="display: none;">next</div>
        </div>
        <div class="owl-dots" style="">
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot active"><span></span></div>
        </div>
      </div>
    </blockquote>
  </div>
</section>